body
{
    background-image: url(bg-image.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
#box
{
    margin-top:8vmin ;
    height: 70vmin;
    width: 70vmin;
    border: 0.35vmin solid rgb(2, 161, 16);
    display: grid;
    position: absolute;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-image:linear-gradient(#bce503,#708801 );
    
    
}
.container
{
    display: flex;
    justify-content: center;
    height: 96vh;
    width: 97vw;
    position: relative;
}
#score{
    margin-top: 10vmin;
    margin-right: 91vmin;
    margin-left: 5vmin;
    border: 0.35vmin solid;
    height: 4vmin;
    padding: 1vmin;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    width: 12vmin;
    padding-left: 1vmin;
    border-radius: 1.5vmin;
    position: absolute;
    
   
}
.start 
{
    background-color: rgb(170, 255, 0);
    height: 5vmin;
    width: 20vmin;
    /* margin-right: auto; */
    margin-top: 85vmin;
    margin-bottom: 5vmin;
    margin-left:20vmin;
    border: 0.35vmin solid;
    font-size: 4vmin;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.snake
{
    background-color: rgb(25, 140, 48);
    border-radius: 1vmin;
}
.food
{
   background-color: rgb(255, 0, 0);
   border-radius: 50%;
}
.game-over{
    height: 20vmin;
    width: 70vmin;
    border: 0.35vmin solid;
    margin: auto;
    position: absolute;
    margin-top: 35vmin;
    transition: 1s all ease-in ;
    font-size: 15vmin;
    text-align: center;
    display:block;
    padding-top: 1vmin;
    font-family:fantasy ;
}